form.form-horizontal
	fieldset
		legend Server information
	if configureOnly == true
		- var serverHostname = ''
		- var i = 0
		each s in server
			if i > 0
				- serverHostname = serverHostname + ','
			- serverHostname += s.hostname
			- i++
		div.row
			div.form-group
				label.col-lg-2.control-label(for='serverHostname') Server hostname
				div.col-lg-8
					input#serverHostname.form-control(type="text", value="#{serverHostname}", name="serverHostname")
					button.btn.btn-xs.btn-info#updateServerHostnameButton(onClick="return(false);") Update hostname
					span.help-block Hostname or ip address to the server. For nameservers or other roles where you have more than one instance enter all hostnames separated by comma.
					
		div.row
			div.form-group
				label.col-lg-2.control-label(for='serverUsername') Username
				div.col-lg-8
					input#serverUsername.form-control(type="text", value="#{server[0].username}", name="serverUsername")
					span.help-block Username for user with root privileges
		div.row
			div.form-group
				label.col-lg-2.control-label(for='serverPassword') Password
				div.col-lg-8
					input#serverPassword.form-control(type="password", value="#{server[0].password}", name="serverPassword")
					span.help-block Password for the user
		div.row
			div.form-group
				label.col-lg-2.control-label(for='serverKey') SSH Key (optional)
				div.col-lg-8
					select.form-control(name="serverKey",id="serverKey")
						option(name="#{server[0].fk_ssh_key}",value="#{server[0].fk_ssh_key}") #{server[0].ssh_key_name}
						span.help-block SSH key if not using password based login

	else
		div.row
			div.form-group
				label.col-lg-2.control-label(for='serverHostname') Server hostname
				div.col-lg-8
					input#serverHostname.form-control(type="text", placeholder="myserver.com", name="serverHostname")
					span.help-block Hostname or ip address to the server. For nameservers or other roles where you have more than one instance enter all hostnames separated by comma.
			div.row
				div.form-group
					label.col-lg-2.control-label(for='serverUsername') Username
					div.col-lg-8
						input#serverUsername.form-control(type="text", placeholder="root", name="serverUsername")
						span.help-block Username for user with root privileges
			div.row
				div.form-group
					label.col-lg-2.control-label(for='serverPassword') Password
					div.col-lg-8
						input#serverPassword.form-control(type="password", placeholder="", name="serverPassword")
						span.help-block Password for the user
			div.row
				div.form-group
					label.col-lg-2.control-label(for='serverKey') SSH Key (otpional)
					div.col-lg-8
						select.form-control(name="serverKey",id="serverKey")
							option(name="",value="") none
							each row in keys
								option(name=row.id,id=row.id,value=row.id)= row.name
							span.help-block SSH key if not using password based login
							
		button.btn.btn-lg.btn-primary#validateServer(style="float:right;", type="submit",onClick="return false;") Validate server	

div.alert.alert-success(style="display:none;")
	span
		strong#ok-content
div.alert.alert-danger(style="display:none;")
	span
		strong#alert-content			
