div#configure_server(style="display:"+displayConfigure+"")
	form.form-horizontal
	fieldset
	legend Basic configuration
	div#basic_options
		each c in config
			if c.validation != "%hide"
				if !c.advanced
					if c.name == 'domainreg_tld_config_hash'
						include ../wizard/domainreg_tld_config_hash.jade
					else
						div.row
							div.form-group(id="div_#{c.name}")
								label.col-lg-2.control-label(for='#{c.name}')
									=c.name
								div.col-lg-8
									input.form-control(id="#{c.name}", class="#{c.required} configVariables", type="text", value="#{c.value}", name="#{c.name}", onChange='validateConfigField("#{c.name}")')
									span.help-block #{c.doc}
									input(type="hidden", id="#{c.name}_validation", value="#{c.validation}")
									input(type="hidden", id="moduleName", value="#{moduleName}")

	center
		a.btn.btn-default#toggleAdvanced(role="button", data-toggle="collapse", href="#collapseExample", aria-expanded="false", aria-controls="collapseExample")
			| Show advanced configuration options
	div#advanced_options(style="display: none;")
		form.form-horizontal
			fieldset
			legend Advanced configuration
			each c in config
				if c.advanced && c.validation != "%hide"
					div.row
						div.form-group(id="div_#{c.name}")
						label.col-lg-2.control-label(for='#{c.name}')
							=c.name
						if c.validation == "%password"
							button.btn.btn-xs.btn-info#generatePassword(type="submit",onClick="generatePasswordForm('#{c.name}');return false;") Generate password
						div.col-lg-8
							- var extraClass = ""
							if c.validation == "%password"
								- extraClass = "password";
							if c.textArea
								textarea.form-control(id="#{c.name}", class="#{c.required} configVariables #{extraClass}", name="#{c.name}")
									| #{c.value}
							else
								input.form-control(id="#{c.name}", class="#{c.required} configVariables #{extraClass}", type="text", value="#{c.value}", name="#{c.name}", onChange='validateConfigField("#{c.name}")')
							span.help-block #{c.doc}

				input(type="hidden", id="#{c.name}_validation", value="#{c.validation}")
				input(type="hidden", id="moduleName", value="#{moduleName}")

	if !(allRolesSimple[myRole]  && reportStatus == "successful")
		button.btn.btn-lg.btn-success#startProvisioningButton(style="float:right;", type="submit",onClick="return false;") Bootstrap server	
	<br/><br/>
