each c in config
  .form-group
    label(for='#{c.name}')
      =c.name
    &nbsp;<i>(#{c.doc})</i>
    input.form-control(id="#{c.name}", class="#{c.required} configVariables", type="text", value="#{c.value}", name="#{c.name}", onChange='validateConfigField("#{c.name}")')
    input(type="hidden", id="#{c.name}_validation", value="#{c.validation}")
    input(type="hidden", id="moduleName", value="#{moduleName}")
