each c in config
  if !c.advanced
    if c.name == 'domainreg_tld_config_hash'
      include domainreg_tld_config_hash.jade
    else
      .form-group
        label(for='#{c.name}')
          =c.name
        &nbsp;<i>(#{c.doc})</i>
        input.form-control(id="#{c.name}", class="#{c.required} configVariables", type="text", value="#{c.value}", name="#{c.name}", onChange='validateConfigField("#{c.name}")')
        input(type="hidden", id="#{c.name}_validation", value="#{c.validation}")
        input(type="hidden", id="moduleName", value="#{moduleName}")

center
  a.btn.btn-default#toggleAdvanced(role="button", data-toggle="collapse", href="#collapseExample", aria-expanded="false", aria-controls="collapseExample")
    | Show advanced configuration options
div#advanced_options(style="display: none;")
  each c in config
    if c.advanced
      .form-group
        label(for='#{c.name}')
          =c.name
        &nbsp;<i>(#{c.doc})</i>
        - var extraClass = ""
        if c.validation == "%password"
          - extraClass = "password";
        if c.textArea
          textarea.form-control(id="#{c.name}", class="#{c.required} configVariables #{extraClass}", name="#{c.name}")
            | #{c.value}
        else
          input.form-control(id="#{c.name}", class="#{c.required} configVariables #{extraClass}", type="text", value="#{c.value}", name="#{c.name}", onChange='validateConfigField("#{c.name}")')
        if c.validation == "%password"
          button.btn.btn-xs.btn-info#generatePassword(type="submit",onClick="generatePasswordForm('#{c.name}');return false;") Generate new password

        input(type="hidden", id="#{c.name}_validation", value="#{c.validation}")
        input(type="hidden", id="moduleName", value="#{moduleName}")
